rules:
  "color-no-invalid-hex": true
#  "font-family-no-duplicate-names": true
#  "font-family-no-missing-generic-family-keyword": true
#  "function-calc-no-unspaced-operator": true
#  "function-linear-gradient-no-nonstandard-direction": true
#  "string-no-newline": true
#  "unit-no-unknown": true
#  "property-no-unknown": true
#  "keyframe-declaration-no-important": true
#  "declaration-block-no-duplicate-properties": true
#  "declaration-block-no-shorthand-property-overrides": true
#  "block-no-empty": true
#  "selector-pseudo-class-no-unknown": true
#  "selector-pseudo-element-no-unknown": true
#  "selector-type-no-unknown": true
#  "media-feature-name-no-unknown": true
#  "comment-no-empty": true
#  "no-descending-specificity": true
#  "no-duplicate-at-import-rules": true
#  "no-duplicate-selectors": true
#  "no-extra-semicolons": true
#  "no-invalid-double-slash-comments": true
#  "function-url-no-scheme-relative": true
#  "function-url-scheme-blacklist": ["ftp", "/^http/"]
#  "number-max-precision": 8
#  "time-min-milliseconds": 100
#  "unit-whitelist": ["px", "em", "deg", "%", "s", "vh"]
#  "shorthand-property-no-redundant-values": true
#  "value-no-vendor-prefix": true
#  "declaration-block-no-redundant-longhand-properties": true
#  "declaration-block-single-line-max-declarations": 1
#  "selector-max-attribute": 1
#  "selector-max-empty-lines": 0
#  "selector-max-id": 1
#  "selector-max-pseudo-class": 3
#  "selector-max-type": 5
#  "selector-max-universal": 1
#  "media-feature-name-no-vendor-prefix": true
#  "no-unknown-animations": true
#  "color-hex-case": "lower"
#  "font-weight-notation": "named-where-possible"
#  "function-comma-newline-before": "never-multi-line"
#  "function-comma-space-after": "always"
#  "function-comma-space-before": "never"
#  "function-name-case": "lower"
#  "function-url-quotes": "always"
#  "function-whitespace-after": "always"
#  "number-leading-zero": "never"
#  "number-no-trailing-zeros": true
#  "string-quotes": "double"
#  "length-zero-no-unit": true
#  "unit-case": "lower"
#  "value-keyword-case": "lower"
#  "value-maintain-comma-space-after": "always"
#  "value-maintain-comma-space-before": "never"
#  "value-maintain-max-empty-lines": 0
#  "property-case": "lower"
#  "declaration-block-trailing-semicolon": "always"
#  "block-closing-brace-empty-line-before": "never"
#  "selector-attribute-brackets-space-inside": "always"
#  "selector-attribute-quotes": "always"
#  "selector-descendant-combinator-no-non-space": true
#  "selector-pseudo-class-case": "lower"
#  "selector-pseudo-element-case": "lower"
#  "selector-type-case": "lower"
#  "media-feature-name-case": "lower"
#  "at-rule-name-case": "lower"
#  "comment-empty-line-before": "never"
#  "indentation": 2
#  "max-empty-lines": 2
